<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>

<p>Here are all your stories.</p>

{{#if stories}}
<table>

    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td>
            <td> <a href="/views/dashboard.hbs"></a>{{title}}</td>
            <td>{{createdAt}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<p>You have not create any stories</p>
{{/if}}